.*
*/.*
*.xlsx
*.mtl
__pycache__
cache
!cache/test_img_female_0_lms.glb
!cache/test_img_male_0_lms.glb
!cache/test_img_male_12_lms.glb
!cache/test_img_male_30_lms.glb
classify/cache
test/cache
test/data/avatar
test/data/test_data
test/data/fix_test
log
p2f/try
f2a
*.h
*.cpp